/*幻灯片*/
#banner{text-align: center;position: relative;}
#banner ul {overflow: hidden;}
#banner ul li{float: left;}
#banner .dots {position: absolute;bottom: 20px;left: 50%;}
#banner .dots li{ display: block; width: 14px; height: 14px;*height: 18px; margin: 2px 4px 0; text-indent: -999em; background:url(../img/blur.png) no-repeat center;background-size: 100%;cursor: pointer;float: left; }
#banner .dots li.active {width: 19px; height: 19px; margin: 0 4px;background:url(../img/focus.png) no-repeat center;cursor: pointer;}

/*主体*/

.activeList {margin: 17px 0 20px;overflow: hidden;}
.activeList li{width:25%;*width:24.999999%;float: left;position: relative;overflow: hidden;}
.activeList li img{width: 100%;display: block;}
.activeList .activeBox{width: 60%;height:100%;position: absolute;left: 0;top: 0;padding: 10px 0 0;}
.activeList .activeBox1{background: url(../img/active_bg1.png) repeat;}
.activeList .activeBox2{background: url(../img/active_bg2.png) repeat;}
.activeList .activeBox3{background: url(../img/active_bg3.png) repeat;}
.activeList .activeBox4{background: url(../img/active_bg4.png) repeat;}
.activeList .activeBox p{font-size: 18px;font-family: "microsoft yahei";line-height: 30px; color: #FFFFFF;margin-left: 10px;}
.activeList .activeBox3 p{color: #d20c1c;}
.activeList .activeBox a{display:block;line-height:31px;font-size: 12px;font-family: "microsoft yahei";color: #FFFFFF;position: absolute; bottom: 20px;margin-left: 10px;padding: 0 5px;}
.activeList .activeBox1 a{background: url(../img/active_btn_bg1.png) no-repeat left center;background-size: 100%;}
.activeList .activeBox2 a{background: url(../img/active_btn_bg2.png) no-repeat  left center;background-size: 100%;}
.activeList .activeBox3 a{background: url(../img/active_btn_bg3.png) no-repeat  left center;background-size: 100%;}
.activeList .activeBox4 a{background: url(../img/active_btn_bg4.png) no-repeat  left center;background-size: 100%;}

@media only screen and (max-width: 1100px) {
	.activeList li{width: 33.333333%;margin: 5px 0;}
	.activeList .activeBox{width: 56%;}
}
@media only screen and (max-width: 960px) {
	.activeList li{width: 50%;margin: 5px 0;}
	.activeList .activeBox{width: 50%;}
}